<!DOCTYPE HTML>
<html>
    <header>
        {% load static %}
        <link href="{% static 'python_blog/archive.css' %}" 
            type="text/css"rel="stylesheet">
        <p id="h_article">All articles:</p>
    </header>
    <body>
        <br><br>
        {% for article in archive %}
            <div id="for_article">
                <p id="name_ar">{{article.0}}</p>
                <p id="time">{{article.1}}</p>
                <p id="min_text">{% autoescape off %}{{article.2}}
                {% endautoescape %}</p>
            </div>
            <br> 
        {% endfor %}
    </body>
</html>                                                     

