<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link href="{% static 'python_blog/home_admin.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="{% static 'python_blog/admin.js'%}"></script>
        <title>Mr. Python</title>
        <meta name="Python">
    </head>
    <body>
        <div id="view_blog">
            {% csrf_token %}        
            {% if view_article %}
            {% autoescape off %}
                {{ view_article }}
            {% endautoescape %}
            {% endif %}
        </div><br>
        <div id="buttons">
            <form role="form" action="" method="post">
            {% csrf_token %}
                <input name="save" class="btn btn-info btn-o utline" id="save" type="submit" value="save"/>
                <input name="view" class="btn btn-info btn-o utline" id="view" type="submit" value="view"/>
                <input name="delete" class="btn btn-info btn-o utline" id="delete" type="submit" value="delete"/>
            </form>
        </div><br>
        <div id="table">
            <div id="cell1">
                {% csrf_token %}
                {% for art in articls %}
                    <div class="articlename" id="{{art.0}}">
                        <p>{{art.1}}</p>
                        <hr noshared>
                    </div>
                {% endfor %}
            </div>
            <div id="cell2">
                <form action="" method="get">
                    <textarea name='text' id='article_text'>
                    {% csrf_token %}        
                        {% if view_article %}
                            {{ view_article }}
                        {% endif %}
                    </textarea>
                </form>
            </div>
        </div>
           </body>
</html>
