<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <link href="{% static 'python_blog/sign.css' %}" type="text/css"     rel="stylesheet">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Mr. Python</title>
         <meta name="Python">
    </head>
    <body>
        <div class="out w3-display-container w3-grayscale-min">
            <p id="head">Sign in</p>
            <div id="main_d">
                <form role="form" action="#" method="post">
                    {% csrf_token %}
                    <p>User name</p>
                    <input name="user_name" class="form-control input-lg" type="text"/>
                    <p>Email</p>
                    <input name="in_email"class="form-control input-lg" type="email"/>
                    <p>Password</p>
                    <input name="in_password" class="form-control input-lg" type="password"/>
                    <p>Confirm password</p>
                    <input name="in_conf" class="form-control input-lg" type="password"/><p/>
                    <br>
                    <input name="btn_sign" id="btn_sign" class="btn btn-warning" type="submit" value="Save"/>
                </form>
            </div>
            <br><br><br><br><br><br>
        </div>
    </body>
</html>
