body {
    background: url("images/fon4.jpg") repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    background-color: black;
}

#head {
    padding-top: 5%;
    text-align: center;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28pt;
}

#main_d {
     font-family: "Comic Sans MS", cursive, sans-serif;
     font-size: 16pt;
     color: white;
     margin: 0 auto;
     top: 25%;
     width: 30%;
}

#btn_log {
     width: 40%;
     margin-left: 30%;
}

.social {
    margin: auto;
    width: 148px;
    height: 64px;
}

.social > * {
    float: left;
}

.padding {
    display: block;
    width: 15px;
    height: 64px;
}

#google {
    background: url("images/google.png") no-repeat center;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: block;
}



.google_eyes {
    background: url("images/google_eyes.png") no-repeat center;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: none;
}


#google:hover > .google_eyes {
    display: block;
}

#github {
    background: url("images/github.png") no-repeat center;
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

.github_eyes {
    background: url("images/github_eyes.png") no-repeat center;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: none;
}

#github:hover > .github_eyes {
    display: block;
}


input.highlight {
    border: 3px solid red;
}
