body {
    background: url("images/fon4.jpg") repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    background-color: black;
}

#head {
    padding-top: 5%;
    text-align: center;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28pt;
}

#main_d {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16pt;
    color: white;
    margin: 0 auto;
    top: 25%;
    width: 30%;
}

#btn_sign {
    width: 40%;
    margin-left: 30%;
}

input.highlight {
    border: 3px solid red;
}
